#bar1{
	background-color: rgba(23, 19, 32, 0.89);
}
#bar1-link a{
	color: white;
}
#bar1-link a:hover{
	font-size: 16px;
	color: #6bd0ff;
}

#title p{
	font-size: 20px;
}

footer{
	background-color: rgba(23, 19, 32, 0.89);
	padding: 1% 1% 1% 1%;
}
.fa{
	padding: 10px;
	font-size: 50px;
	color: #FFF;
}
.fa:hover{
	color: #6bd0ff;
	text-decoration: none;
}
.icon{
	max-width: 100px;
}
.container h2{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
.container .row{
	background-color: rgba(1,1,1,.9);
	border-radius: 20px;
	margin-bottom: 10px;
	margin-right: 2px;
	margin-left: 2px;
	color: white;
}
.padding {
	padding: 10px 0;
}

.devpic{
	border-radius: 10px;
	margin-top: 10px;
	background-color: #FF4500;
	height: 90px;
	width: 90px;
	padding: 10px;
}
.devpic1{
	height: 320px;
	width: 190px;
	padding: 10px;
}

.text1{
	color: #FF4500;
	transform: translate(-50%,-50%);
	animation: text 3s 1;
	position: relative;
}
@keyframes text{
	0%{
		color: white;
	}
	5%{
		letter-spacing: 3px;
	}
	8%{
		letter-spacing: 5px;
	}
}

.dp{
	margin-top: -11px;
	border-radius: 100px;
	border-style: solid;
  	border-width: thin;
	border-color: #FF4500;
	height: 43px;
	width: 45px;
}
.dp2{
	border: double;
	border-color: #FF4500;
	position: relative;
	border-radius: 100px;
	height: 160px;
	width: 170px;
}

.modal-header{
	background-color: rgba(1,1,1,.1);
}
.modal-body{
	background-color: rgba(1,1,1,.9);
}
.modal-footer{
	background-color: rgba(1,1,1,.1);
}
.info{
	color: white; 
	font-family: "Times New Roman", Times, serif;
}

.dp1{
	margin-top: -30px;
}
.sample{
	margin-top: 10px;
}